.question-container{
    font-family: 'HelveticaNeue';
     display: flex;
    flex-direction: column;
    font-size:25px;
    width:60%;
    border:2px solid black;
    margin:2%;
    
}
.question-number{
    font-family: 'HelveticaNeue-CondensedBold';
    padding:2.5%;

}
.question{
    background-color:#12b6ed;
    height:100%;
    padding:2.5%;
    border:2px solid black
}

.opts-container{
    font-family: 'HelveticaNeue-CondensedBold';
    padding:2%;
    font-size:40px;
}