.quiz-page{
    /* background-color:red; */
    display:flex;
    flex-direction: column;
    /* height:100vw; */
    justify-content: flex-start;
    align-content: flex-start;
    padding-bottom:5%;

}

.quiz-header{
    background-color:black;
    color:white;
    display:flex;
    flex-direction: row;
    height:3.5%;
    padding:1vh 2vw;
    justify-content: space-between;
    align-items: center;
    font-size:30px;
    font-family:'HelveticaNeue-CondensedBold';
}

.questions-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
    height:100%;
    justify-content: space-between
}



.calc-btn{
    width:15%;
    margin:auto;
    height:70px;
    border:2px solid black;
    font-size:20px;
    border-radius:20px;
    font-family: 'HelveticaNeue-CondensedBold'
}


@media screen and (max-width:600px){
    .calc-btn{
        font-size:0.75em
    }
 
  }