.login-card{
    background-color:yellow;
    height:55%;
    display:flex;
    flex-direction:row;
    width:45%
}


.left-column{
    background-color:#6CC5F0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    font-size:2em;
    font-family: 'HelveticaNeue-CondensedBold'
}

.right-column{
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:50%;
}

.quizzy{
    color:white;
    font-size:2.2em
}

.card-title{
    display:flex;
    flex-direction: row;
    width:80%;
    font-family:'HelveticaNeue-CondensedBold';
    justify-content: flex-start;
    font-size:1.75em;
    margin:15%;
}
  @media screen and (max-width:400px){
    .quizzy{
        color:white;
        font-size:1.5em
    }
 
  }

  @media screen and (max-width:850px){
    .left-column{
        font-size:1em
    }
 
  }

 